.App {
  text-align: center;
}

.loading {
  animation-name: spinner;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes spinner {
   25% {transform: rotate(90deg);}
   50% {transform: rotate(180deg);}
   75% {transform: rotate(270deg);}
  100% {transform: rotate(360deg);}
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  background: black;
  width: 100%;
  height: 100px;
}

.dash {
  z-index: 1;
  justify-content: flex-end;
  font-weight: bold;
}

.signout a {
  color: rgb(255, 131, 131);
}

nav a {
  text-decoration: none;
  color:white;
  margin: 15px;
}

.error {
  color: red;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form input {
  margin: 10px;
  width: 25%;
  height: 20px;
  padding: 5px;
}

form input::placeholder {
  font-weight: bold;
  color: gray;
  letter-spacing: 1px;
}

.button {
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  width: 150px;
}

.content {
  margin-top: 10%;
}

.friends {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
}

.friend {
  text-align: left;
  display: flex;
  flex-direction: column;
  background-color: aqua;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  text-shadow: 0 0 5px black;
}

.friend p {
  margin: 20px;
}
